

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
html {

  margin:0px;

  overflow: auto;
  background-color: #212123;

  scroll-behavior: smooth;
   
  scroll-snap-type: y proximity;


 cursor: url(/img/Cursor.png),  auto;
  /*cursor: url(/img/Cursor.png),  pointer;*/

 
}

.trailerContainer {
   
   display: flex;
    min-width: 60vw;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 10px;
}

#trailer {
    width: 100%;
    height: 100%;
}


/*  */
.Navigation {
    z-index: 100;

    width: 99vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2rem 0 2rem;

    background: linear-gradient(180deg, rgba(33, 33, 35, 50%) 0%, rgba(33, 33, 35, 10%) 50%,  rgba(33, 33, 35, 0%) 100% );
    


}

.navigationGrid{

    display: grid;
    /* max-width: 30vw; */
    font-size: .8rem;
    grid-template-columns: repeat(7, 1fr);
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
    justify-items: center;

    
    color:#e6e6e6;
}


/*  */

/* ITENS GRID CONFIGS */

.itensGrid{


    display: grid;
    box-sizing: border-box;
     grid-template-columns: repeat(6, 3rem); 
    grid-template-rows: repeat(5, 4rem); 
    row-gap: 1rem;
    column-gap: 1rem;
    object-fit: cover;
    justify-content: center;
    justify-items: center;
    position: relative;

}

.end {

    grid-column: span 2;
    justify-content: center;
    justify-items: center;
}

.spanned {
    grid-column: span 3 ;

    align-items: center;
    align-self: center;
}

.omegaSpanned {

    grid-column: span 7 ;

    align-items: center;
    align-self: center;
}
/* ITENS GRID CONFIG END */


/* TOOLTIP CONFIGS /////////////////////////////////////////*/



.hasTooltip {

    animation: all .1s ease-in-out;

}

.hasTooltip:hover {
    
    transform: scale(1.2);
    z-index: 900;
 
}

.hasTooltip:hover img {
    
   
    filter: drop-shadow(5px 10px 10px #000000);
}

.hasTooltip:hover .tooltipInformation{

    visibility: visible;
    
}



.itensGrid:has(.hasTooltip:hover) >  .hasTooltip:not(:hover) img {

  filter: grayscale(100%) brightness(0.7);
  opacity: 50%;
}



.tooltipInformation
{
    visibility: hidden;
    position: absolute;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    align-items: center;
    flex-direction: column;


    border-radius: 2%;
    
    text-align: center;

   
    padding: 1rem;

    background-color: rgba(0, 0, 0, 75%);

    width: 25rem;
    left: 4rem;


  

}


.tooltipInformation h1 {

   color: #CF8ACB;
   font-size: 2rem;

   height: fit-content;
   margin:  .5rem 1rem  .1rem 1rem;
}

.tooltipInformation h2 {

    position: relative;
    color: #CF8ACB;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: lighter;
    height: fit-content;
    margin: 0 0 1rem 0;

 }
 

.tooltipInformation p {

    font-family: 'Cinzel', serif;
    margin: 0;

    height: fit-content;
}

.special {
    color: #CF8ACB;
  
}

.redSpecial {
    
    color: #e15b56;
}

 /*  TOOLTIP END ///////////////////////////////////////////*/

.TextLinkHover{ 

    transition: all .1s ease-in;

}

.TextLinkHover:hover { 

    transform: scale(1.1);
    color: white;
}




.hoverMouse {

    transition: all .2s ease-in-out; 
}
.hoverMouse:hover {

   
    transform: scale(1.1); 


}

a,a:visited {
    text-decoration: none;
    color:#e6e6e6;
    cursor: url(/img/Cursor.png),  auto;
}

.youtube {
    aspect-ratio: 16 / 9;
    width: 60vw;
}

/* fullscreens */

.fullscreen {
    min-height: 100vh;
    min-width: 99vw;

}

.wideFull {
    min-height: fit-content;
    min-width: 99vw;
}

.heightFull {
    height: 100vh;
    min-width: fit-content;
}

.wideHalf {
    min-height: fit-content;
    width: 50vw;

}
/* ============= */


.snap {
    scroll-snap-align: start;
}

.rightSection {
   

    box-sizing: border-box;
    padding-left: 10vw;
    padding-right: 10vw;

    display: grid ;
    grid-row: 1;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2.5rem;

 

    align-self: center;
    align-items: center;
    align-content: center;
    vertical-align: center;
    /* justify-items: start; */
    
    text-align: left;
    

}


.leftSection {
    
   
    box-sizing: border-box;
    padding-left: 10vw;
    padding-right:10vw;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   
    grid-gap: 2.5rem;


    align-items: center;
    align-content: center;
    vertical-align: center;

     justify-items: center;
    
    text-align: left;
    

}

div {


    display: grid;
   
    align-items: center;
    position: relative;
    align-self: center;
    align-content: center;
   
    justify-content: center;
    max-width:  75vw;
}

  
.centerNoGrid {


    border: none;;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    align-content: center;
    vertical-align: center;
    text-align: center;
  
    right: 0;
    bottom: 0;

}

.preto {
   background-color: #212123;
 
  }

.vermelho {
    background-color: #e15b56;
  }

.Center {

margin: 0;
padding: 0;

justify-content: center;
  display: grid ;
  grid-template-rows: 3vw 3vw;
  align-items: center;
  align-content: center;
  vertical-align: center;
  text-align: center;
}


p {
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: 1.5rem;


}

h1 {

    font-size: 3rem;
    font-family: 'Cinzel', serif;
    color: #e3d594;
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
  
}

body {


    margin: 0;
    font-size: 1rem;;
    font-family: 'Press Start 2P', sans-serif;
    color: #e6e6e6;
    border: none;

}

.Play {

    position: relative;
    align-content: center;
    align-items: center;
    font-size: 3rem;
    transition: all .2s ease-in-out; 
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #e6e6e6;
    max-width: fit-content;
    margin: auto;

}

.Play:hover {

    color: #e3d594;
    transform: scale(1.1); 
}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.logo {


    animation: fadeIn 2s ease-in-out;
    -webkit-animation: fadeIn 2s ease-in-out;
    display: inline;
    margin: 1rem;  
    max-width: 30rem;
    max-height: 30rem;
    
  
}

.sideImage {

    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

    max-width: 30vw;
    max-height: 45vh;
    

}

.twofar {

 bottom: 15;

  max-width: 15rem;

  max-height: 15rem;

  min-width: 10rem;
  min-height: 10rem;

}

#start .fullscreen, #jogue .fullscreen  {
    position: absolute;
    overflow: clip;
}

.bgVideo {

    object-fit: cover; 

    align-self: center;
    justify-content: center;
    position: absolute;

     margin: auto; 
   

   

}

.gameInfoTitleEnd {

    display: flex;

    flex-direction: column;

    position: absolute;


 
    justify-content: center;
    align-items: center;
    align-self: center;



}

.magiasDiv {

    display: grid;
    position: inherit;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: center;
    max-width: fit-content;
    

}

#magiaVideo {
    
    width: 100%;
    height: 100%;
   
    aspect-ratio: 16 / 9;
    border-radius: inherit;
    object-fit: cover;
    overflow: hidden;
    /* image-rendering: pixelated; */

}

.videoContainer {

    max-width: 40vw;
    width: 40vw;
    border-radius: 10px;
    min-width: 25vw;
    aspect-ratio: 16 / 9;


    filter: drop-shadow(5px 10px 10px #00000062);
}

.magiasButtonGrid{

    display: grid;

    grid-row: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 6rem) );

    margin-top: -3%;

    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
   
}

.magiasButtons {

    transition: all .1s ease-in-out; 
    image-rendering: pixelated;
    align-items: center;
    filter:grayscale() brightness(0.5) drop-shadow(5px 10px 10px #000000);
    height: 3.5rem;
    width: 3.5rem;

}


.magiasButtonsClicked {


    transition: all .1s ease-in-out; 
    image-rendering: pixelated;
    align-items: center;
    filter: drop-shadow(5px 10px 10px #000000);
    height: 3.5rem;
    width: 3.5rem;
    z-index: 9999;
    transform: scale(1.3);

}


.magiasButtons:hover { 

    transform: scale(1.2);
}

/* RUNE BUTTONS */
.runesButtons {

    transition: all .1s ease-in-out; 
    image-rendering: pixelated;
    align-items: center;
    filter:brightness(0.7)  drop-shadow(5px 5px 5px #00000065);
    height: 3.5rem;
    width: 3.5rem;

}

.runesButtons:hover { 

    transform: scale(1.2);
}


.runesButtonsClicked {


    transition: all .1s ease-in-out; 
    image-rendering: pixelated;
    align-items: center;
    filter: drop-shadow(5px 5px 5px #0000008f);
    height: 3.5rem;
    width: 3.5rem;
    z-index: 9999;
    transform: scale(1.3);

    

    animation: shine 3s infinite linear;

}



.rounded {
   
    border-radius: 10%;
}

.leftText {

    justify-content: start;
    text-align: left;

}

.rightText {
    align-items: end;
    justify-content: end;
    text-align: right;
}

.ImageText {

    display: grid; 
    grid-template-columns: fit-content(100rem) fit-content(100rem);

   

}

.leftGrid {
  justify-content: start;
 
}

.rightGrid {
    justify-content: end;
    text-align: right;
}

.RunesGrid {

    display: grid;

    grid-row: auto-fill;
    grid-template-columns: repeat(auto-fit, minmax(50px    ,3rem))  ;
    gap: .5rem;

    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.RunesGridVDOIS {

    display: grid;

    grid-row: auto;
    grid-template-rows: repeat(3, 5rem) ;
    grid-template-columns: repeat(3, 5rem)  ;


    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.rotate {

    animation: gira 4s infinite linear;
    -webkit-animation: gira 4s infinite linear;

}

@keyframes gira {

    0% { transform: rotate(0deg);}

    100% {transform: rotate(360deg);}


}

.centerImage {

    margin: auto;

    align-items: center;
    align-self: center;

}

.staticCenter {

    image-rendering: pixelated;
    position: absolute; 
    left: 0; 
    right: 0;
    margin: auto;
    object-fit: cover;

}

.Brilho {

    height: 14rem;
    width: 14rem;

}

.DisplayRune {

    height: 5rem;
    width: 5rem;
}

.pixelated {

    
    image-rendering: pixelated;
}


.TitleImages {

  margin: 1rem;
    image-rendering: pixelated;
    align-items: center;
    box-sizing: border-box;
    height: 3.2rem;
    width: 3.2rem;

}



@media(max-width: 1017px) {


    .wideHalf {
       
        width: 75vw;

    }

    .snap {
        scroll-snap-align: none;
    }
    .navigationGrid {
        display: none;
    }

    .TextLinkHover {

        display: none;
    }



    /* itens */
    .itensGrid {

        row-gap: 0;
        column-gap: 0;
       display: flex;
       flex-wrap: wrap;
       padding: 0 10px 0 10px;

    }

    /* .spanned, .omegaSpanned .end {
        grid-column: auto;
        grid-row: auto;
    } */

    .rightSection, .leftSection {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        grid-gap: 1rem;
        max-width: 99vw;
       
    }


    .leftGrid, .rightGrid, .ImageText {

        justify-content: center;
        max-width: 99vw;
    }

    p, h1 {
        text-align: center;
    
    }

    .Center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .tooltipInformation {
        position: fixed;
    }

    .hasTooltip:hover .tooltipInformation{

        position: fixed;
        /* transform: translate(-50%, 70%); */
        margin: auto;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
 

    }


    .RunesGrid {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width:  75vw;
    }
    /*  */

    .sideImage{

        max-height: 50vh;
        max-width:  50vw;
    }


    .magiasButtonGrid {


        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
 

/* */ 
   .videoContainer {
    max-height: 100%;
    max-width:  100%;
    height: 100%;
    width: 100%;
    }


    .magiasDiv {

        max-width: 90%;
        width: 90%;
        justify-content: center;
    }

    .centerNoGrid {

        justify-content: center;
      
    }

    #runas {  padding-bottom: 50px;}

}

@media(max-height: 700px) {

    .magiasDiv {

        max-width: 60%;
        width: 60%;
        justify-content: center;
    }

}